.banner {
    width: 335px;
    margin-right: auto;
}

.banner__title {
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    color: #FFFFFF;
    font-style: normal;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
}

.banner__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    padding-top: 50px;
    padding-bottom: 50px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
}

.banner__button {
    background: #F13C6E;
    border: 2px solid #FFFFFF;
    border-radius: 40px;
    width: 170px;
    height: 40px;
}

.banner__button-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
}