.privacy-police {
    display: flex;
    justify-content: space-between;
}

.privacy-police__license {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #828282;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
}

.privacy-police__link {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #828282;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
}