.banner__title {
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    color: #FFFFFF;
    font-style: normal;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
}

.banner__text {
    width: 335px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    padding-top: 39px;
    padding-bottom: 40px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
}

.banner__link {
    border: 2px solid #FFFFFF;
    border-radius: 40px;
    width: 170px;
    height: 40px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
}