.gallery {
    background: #FFFFFF;
    display: flex;
    flex-wrap: wrap;
    width: auto;
    justify-content: center;
}

.gallery__item {
    border: 1px solid #EFEFEF;
    width: 277.5px;
    height: 118px;
}

.gallery__link {
    display: flex;
    align-self: center;
    justify-content: center;
}

.gallery__fix {
    display: flex;
    justify-content: center;
}