.gift__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
}

.gift__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    display: block;
    padding-top: 25px;
    padding-bottom: 25px;
    width: 235px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
}

.gift__email {
    background: #FFFFFF;
    border-radius: 30px;
    width: 225px;
    height: 35px;
    border: none;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 25px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
}

.gift__container {
    display: inline-block;
}

.storemap__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
}

.storemap__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    display: block;
    padding-top: 25px;
    padding-bottom: 25px;
    width: 141px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
}

.storemap__link {
    border: 2px solid #FFFFFF;
    border-radius: 30px;
    width: 170px;
    height: 35px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    text-decoration: none;
    display: block;
    padding-top: 8px;
    padding-bottom: 5px;
}

.storemap__container {
    display: inline-block;
}

.gift::after {
    content: url(../../images/mail_img.png);
    position: relative;
    left: 60px;
}

.storemap::after {
    content: url(../../images/car_img.png);
    position: relative;
    left: 90px;
}