* {
    box-sizing: border-box;
}

.wrapper {
    width: 1110px;
    margin-left: auto;
    margin-right: auto;
}

.body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
}

.container_background-gray {
    background: #EFEFEF;
}

.container_communication {
    border-bottom: 1px solid #EFEFEF;
    padding-top: 20px;
    padding-bottom: 20px;
}

.container_banner {
    background: url(../../images/chair_banner.png);
    padding-top: 192px;
    padding-bottom: 193px;
    background-repeat: no-repeat;
    background-position: center;
}

.container_cards {
    background: #E5E5E5;
    padding-top: 80px;
    padding-bottom: 100px;
}

.card_title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
}

.container_gift-storemap {
    background-color: #E5E5E5;
}

.gift-storemap {
    display: flex;
    justify-content: space-between;
}

.collective_gift-storemap {
    display: inline-block;
    background: #F13C6E;
    padding: 35px 45px 35px 40px;
    width: 540px;
}

.container_gallery {
    background: #E5E5E5;
    padding-top: 100px;
    padding-bottom: 80px;
}

.container_recently-watched {
    background: #E5E5E5;
    padding-bottom: 80px;
}

.container_category {
    background: #FFFFFF;
    padding-top: 60px;
    padding-bottom: 60px;
    border-bottom: 1px solid #EFEFEF;
}

.container_social-media {
    background: #FFFFFF;
    border-top: 1px solid #EFEFEF;
    padding-top: 40px;
    padding-bottom: 40px;
}

.container_privacy-police {
    background: #EFEFEF;
    padding-top: 25px;
    padding-bottom: 25px;
}