@import url(../style/normalize.css);
@import url(../style/general.css);
@import url(../header/navigation.css);
@import url(../header/communication.css);
@import url(../header/sub-navigation.css);
@import url(../main/banner.css);
@import url(../main/card.css);
@import url(../main/gift_storemap.css);
@import url(../main/gallery.css);
@import url(../footer/category.css);
@import url(../footer/social-media.css);
@import url(../footer/privacy-police.css);