.category {
    display: flex;
    justify-content: space-between;
}

.category__item {
    width: 255px;
}

.category__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 140.62%;
    color: #000000;
    display: block;
    width: 99px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
}

.category__line {
    border: 1px solid #EFEFEF;
    width: 255px;
    height: 0;
    margin-top: 30px;
    margin-bottom: 25px;
}

.category__link {
    text-decoration: none;
    font-weight: 400;
    font-size: 12px;
    line-height: 28px;
    color: #828282;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
}




.block_social-media {
    display: flex;
    justify-content: space-between;
}

.social_media-container {
    background: #FFFFFF;
    border-top: 1px solid #EFEFEF;
    padding-top: 40px;
    padding-bottom: 40px;
}

.block_social_media {
    display: flex;
    justify-content: space-between;
}

.social_media-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.social_media-button {
    border: 2px solid #F13C6E;
    border-radius: 50%;
    background-color: #FFFFFF;
    width: 45px;
    height: 45px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.privacy_police-container {
    background: #EFEFEF;
    padding-top: 25px;
    padding-bottom: 25px;
}

.block_privacy_police {
    display: flex;
    justify-content: space-between;
}

.license_text {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #828282;
    margin: 0;
}

.privacy_police {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #828282;
    text-decoration: none;
}