* {
    box-sizing: border-box;
}

.wrapper {
    width: 1110px;
    margin-left: auto;
    margin-right: auto;
}

.body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
}

.container_background-gray {
    background: #EFEFEF;
}

.container_communication {
    border-bottom: 1px solid #EFEFEF;
    padding-top: 20px;
    padding-bottom: 20px;
}