.gallery {
    background: #FFFFFF;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 65px;
    padding: 35px 63px 35px 60px;
}

.gallery__item {
    border: 1px solid #EFEFEF;
}